<a href="https://colab.research.google.com/github/Celestial00/DS-A/blob/main/(20sw050)lab2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Task#1

In [ ]:
points = 174


if points >= 1 and points <= 50:
    result = "Congratulations! You won a wooden rabbit!"
elif points >= 51 and points <= 150:
    result = "Congratulations! You won a no prize!"
elif points >= 151 and points <= 180:
    result = "Congratulations! You won a wafer-thin mint!"
elif points >= 181 and points <= 200:
    result = "Congratulations! You won a penguin!"
else:
    result = "Oh dear, no prize this time."

print(result)

Task#2

In [10]:
answer = int(input("Enter your number: "))
guess = 37

if guess < answer:
    result = "Oops! Your guess was too low."
elif guess > answer:
    result = "Oops! Your guess was too high."
else:
    result = "Nice! Your guess matched the answer!"

print(result)

Enter your number: 67
Oops! Your guess was too low.

Task#3

In [8]:
def calculate_tax(purchase_amount, state):
    tax_rates = {
        'HYD': 0.075,
        'KHI': 0.095,
        'ISL': 0.089
    }

    if state in tax_rates:
        tax_rate = tax_rates[state]
        tax_amount = purchase_amount * tax_rate
        total_amount = purchase_amount + tax_amount
        return total_amount
    else:
        return purchase_amount

# Example usage:
purchase_amount = 100.0
state = 'KHI'
total_amount = calculate_tax(purchase_amount, state)
print(f"Total amount to be paid: ${total_amount:.2f}")

Total amount to be paid: $107.50

Task#4

In [7]:
sentence = ["the", "quick", "brown", "fox", "jumped", "over", "the", "lazy", "dog"]

for word in sentence:
    print(word, end="")

thequickbrownfoxjumpedoverthelazydog

Task#5

In [6]:
for num in range(5, 31, 5):
    print(num, end=" ")

5 10 15 20 25 30

Task#6

In [5]:
names = ["Rick Sanchez", "Morty Smith", "Summer Smith", "Jerry Smith", "Beth Smith"]
first_names = []
for name in names:
    name_parts = name.split()
    first_name = name_parts[0]
    lower_first_name = first_name.lower()
    first_names.append(lower_first_name)
print(first_names)

['rick', 'morty', 'summer', 'jerry', 'beth']

Task#7

In [4]:

multiples_3 = [num * 3 for num in range(1, 21)]

print(multiples_3)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60]

Task#8

In [3]:
scores = {"Rick Sanchez": 70, "Morty Smith": 35, "Summer Smith": 82, "Jerry Smith": 23, "Beth Smith": 98}
passed = [name for name, score in scores.items() if score >= 65]
print(passed)

['Rick Sanchez', 'Summer Smith', 'Beth Smith']

Task#9

In [2]:
cast_names = ["Barney", "Robin", "Ted", "Lily", "Marshall"]
cast_heights = [72, 68, 72, 66, 76]
cast = dict(zip(cast_names, cast_heights))
print(cast)

{'Barney': 72, 'Robin': 68, 'Ted': 72, 'Lily': 66, 'Marshall': 76}

Task#10

In [1]:
cast = ["Barney Stinson", "Robin Scherbatsky", "Ted Mosby", "Lily Aldrin", "Marshall Eriksen"]
heights = [72, 68, 72, 66, 76]

for index, name in enumerate(cast):
    cast[index] = f"{name}{heights[index]}"

print(cast)

['Barney Stinson72', 'Robin Scherbatsky68', 'Ted Mosby72', 'Lily Aldrin66', 'Marshall Eriksen76']