<a href="https://colab.research.google.com/github/Celestial00/DS-A/blob/main/20sw050(lab1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lab-01 - Data Types and Operator's
Roll No: 20sw050
Section: 1

In [21]:

print("how are {} {}".format("you", "doing?"))

how are you doing?

Task#2

In [ ]:
# String Methods Examples

# capitalize()
text1 = "hello world"
capitalized_text = text1.capitalize()
print(capitalized_text)

# casefold()
text2 = "Hello World"
casefolded_text = text2.casefold()
print(casefolded_text)

# center()
text3 = "Hello"
centered_text = text3.center(10, "-")
print(centered_text)

# count()
text4 = "Hello World"
count = text4.count("l")
print(count)

# encode()
text5 = "Hello World"
encoded_text = text5.encode()
print(encoded_text)

# endswith()
text6 = "Hello World"
ends_with_world = text6.endswith("World")
print(ends_with_world)

# expandtabs()
text7 = "Hello\tWorld"
expanded_text = text7.expandtabs(4)
print(expanded_text)

# find()
text8 = "Hello World"
index = text8.find("World")
print(index)

# format()
name = "Alice"
age = 25
formatted_text = "My name is {} and I'm {} years old.".format(name, age)
print(formatted_text)

# isalnum()
text9 = "Hello123"
is_alnum = text9.isalnum()
print(is_alnum)

# isalpha()
text10 = "Hello"
is_alpha = text10.isalpha()
print(is_alpha)

# isdigit()
text11 = "123"
is_digit = text11.isdigit()
print(is_digit)

# islower()
text12 = "hello"
is_lower = text12.islower()
print(is_lower)

# isspace()
text13 = "   "
is_space = text13.isspace()
print(is_space)

# istitle()
text14 = "Hello World"
is_title = text14.istitle()
print(is_title)  # Output: False

# isupper()
text15 = "HELLO"
is_upper = text15.isupper()
print(is_upper)  # Output: True

Task#3

In [28]:
month = 8

days_in_month = [31,28,31,30,31,30,31,31,30,31,30,31]

print(days_in_month[month+1])

31

Task#4

In [45]:
eclipse_dates = ['June 21, 2001', 'December 4, 2002', 'November 23, 2003',
 'March 29, 2006', 'August 1, 2008', 'July 22, 2009',
 'July 11, 2010', 'November 13, 2012', 'March 20, 2015',
 'March 9, 2016']


print(eclipse_dates[-3:])

['November 13, 2012', 'March 20, 2015', 'March 9, 2016']

Task#5

In [47]:
Students_data = {

                 "student-1" : {"name" : "ali" , "class" : "5", "grade" : "A"},
                 "student-2" : {"name" : "osama" , "class" : "7", "grade" : "A"},
                 "student-3" : {"name" : "sammer" , "class" : "9", "grade" : "A"},
                 "student-4" : {"name" : "bilal" , "class" : "4", "grade" : "A"},

}

print(Students_data)

{'student-1': {'name': 'ali', 'class': '5', 'grade': 'A'}, 'student-2': {'name': 'osama', 'class': '7', 'grade': 'A'}, 'student-3': {'name': 'sammer', 'class': '9', 'grade': 'A'}, 'student-4': {'name': 'bilal', 'class': '4', 'grade': 'A'}}